@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: CrimsonPro;
  src: url("Crimson_Pro/static/CrimsonPro-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: SourceCodePro;
  src: url(Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}
@font-face {
  font-family: SourceSansPro;
  src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype') font-weight-normal,
       url(Source_Sans_Pro/SourceSansPro-Light.ttf) format('truetype') font-weight-light,
       url(Source_Sans_Pro/SourceSansPro-Bold.ttf) format('truetype') font-weight-bold;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;

  color: #2B313C;
  background: #F3F0F4;
  font: normal 20px/30px "CrimsonPro", Georgia, serif;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #758ECD;
}

#BigQuote {
  padding-top: 50px;
  padding-bottom: 20px;
}
#BigQuoteBorder {
  border: solid;
  border-color: #2B313C;
  border-width: 8px;
  padding: 25px;
}

.nav {
  background: #2B313C;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin: 0px auto;
  color: #F3F0F4;
}
.nav-name {
  flex: 20 1 auto;
  text-align: left;
  font: 1.8em CrimsonPro, Georgia, serif;
  text-decoration: none;
}
.nav-name:visited {
  color: inherit;
}
.nav-name:hover {
  color: #758ECD;
}

footer {
  width: 100%;
  margin-top: auto;
  padding: 10px;
  margin-top: auto;

  color: #F3F0F4;
  background: #2B313C;
  text-align: center;
}
footer div {
  font-size: 80%;
}

.post-img {
  margin: 20px auto;
  display: block;
}
.caption {
  display: block;
  font-size: 80%;
  line-height: 1.1;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: left;
}

video {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

.code {
  overflow-x: auto;
  margin: 20px auto;
}

.highlight {
  line-height: 22px !important;
}

.title {
  font: 64px CrimsonPro, Georgia, serif;
}

.subtitle {
  font: 30px CrimsonPro, Georgia, serif;
  font-weight: light;
}

h1 {
  font: 36px CrimsonPro, Georgia, serif;
}
h2 {
  font: 30px CrimsonPro, Georgia, serif;
}
h3 {
  font: 24px CrimsonPro, Georgia, serif;
}
h4 {
  font: 22px CrimsonPro, Georgia, serif;
}
h5 {
  font: 20px CrimsonPro, Georgia, serif;
}
h6 {
  font: 18px CrimsonPro, Georgia, serif;
}

#h1-label {
  font-size: 26px;
  font-weight: bold;
}
#h2-label {
  font-size: 22px;
  font-weight: bold;
}
#h3-label {
  font-size: 20px;
  font-weight: bold;
}
#h4-label {
  font-size: 18px;
  font-weight: bold;
}
#h5-label {
  font-size: 16px;
  font-weight: bold;
}
#h6-label {
  font-size: 14px;
  font-weight: bold;
}

p {
  text-align: justify;
}

.breadcrumb {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #838383;
}
.breadcrumb a:hover {
  color: #758ECD;
}

.highlight {
  font: normal 14px "SourceCodePro", Menlo;
}
.highlight pre {
  margin: 0px;
  padding: 10px;
}

.post-content {
  padding-top: 60px;
  padding-bottom: 50px;
  margin: 0px auto;
}

blockquote {
  text-align: center;
  font: normal 22px/26px "Crimson", Georgia, serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

aside {
  position: absolute;
  font: normal 12px/15px "Crimson", Georgia, serif;
  border-top: solid 2px #dee9ed;
  border-bottom: solid 2px #dee9ed;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: justify;
}
aside p {
  margin: 4px 0;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: justify;
}
aside p img {
  max-width: 300px;
  width: 100%:
}

#me-and-my-bio {
  display: block;
}
#my-face {
  display: block;
  width: 80%;
  height: auto;
  border-radius: 50%;
  padding: 0px;
  margin: 20px auto;
}
#about-me {
  display: block;
  width: 100%;
  height: auto;
  margin: 0% auto;
}

.katex { font-size: 1em !important; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .post-content { width: 90%; }
  .nav-content { width: 90%; }
  aside {
    display: block;
    position: relative;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .post-content { width: 90%; }
  .nav-content { width: 90%; }
  aside {
    display: block;
    position: relative;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .post-content { width: 90%; }
  .nav-content { width: 90%; }
  aside {
    display: block;
    position: relative;
  }
  #me-and-my-bio {
    display: flex;
    align-items: center;
  }
  #my-face {
    display: flex;
    width: 30%;
    max-width: 300px;
    margin: 2% 2% 2% 0%;
    height: auto;
    border-radius: 50%;
  }
  #about-me {
    display: flex;
    height: auto;
    width: 70%;
    margin: 0% 0% 0px 2%;
  }
}

/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 1050px) {
  .post-content { width: 700px; }
  .nav-content { width: 700px; }
  aside { position: absolute; width: 150px; left: calc(50vw + 380px); border-bottom: none; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .post-content { width: 850px; }
  .nav-content { width: 850px; }

  aside { position: absolute; width: 200px; left: calc(50vw + 440px); border-bottom: none; }
}
