@import "/assets/fonts/Tanker_Complete/Fonts/WEB/css/tanker.css";
@import "/assets/fonts/BebasNeue_Complete/Fonts/WEB/css/bebas-neue.css";
@import "/assets/fonts/Author_Complete/Fonts/WEB/css/author.css";

@font-face {
    font-family: 'PermanentMarker';
    src: url('/assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('/assets/fonts/ArchitectsDaughter-Regular.ttf') format('truetype');
    font-display: block;
}

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 2.5px 0px 0px 0px;
    border-bottom: dashed;
    border-color: #aaaaaa;
    border-width: 2.5px;
    z-index: 10;
}
#nav-contents {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr 1fr;
    align-items: center;
    max-width: 800px;
    margin: auto;
    width: 90%;
    padding-top: 2px;
}
#nav-logo {
    width: 35px;
}
.nav-name {
    font-family:BebasNeue-Regular;
    font-size: 1.5rem;
    color: red;
    text-align: left;
    padding: 0px 5px 0px 10px;
    text-decoration: none;
}
.nav-link {
    font-family:BebasNeue-Regular;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding: 0px 0px 0px 0.8em;
    text-decoration: none;
}
.nav-link:hover {
    color: red;
    font-style: italic;
}
#title-block {
    margin: 0 auto;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
}
#title-billboard {
    margin: 0 -13%;
    width: 85%;
    max-width: 805px;
    display: inline-block;
    vertical-align: middle;
}
#title-image {
    margin: 5px auto;
    width: 35%;
    min-width: 250px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
#headline {
    font-family: Tanker-Regular;
    font-size: 3.3em;
    line-height: 1em;
    text-align: center;
    margin: 0rem auto;
    z-index: 1;
}
#my-name {
    font-family: PermanentMarker;
    font-size: 1.9em;
    color: red;
    -webkit-transform: translate(0%, 0.4em) rotate(-1deg);
    text-align: center;
    margin: -0.3em auto 0 auto;
    display: inline-block;
    z-index: 2;
}
#subtitle {
    font-size: 1em;
    font-family: 'ArchitectsDaughter';
    font-size: 0.75em;
    text-align: center;
    margin: -0.3em 0 -0.85em 0;
}
#subsubtitle {
    font-size: 1.8em;
    text-align: center;
    font-family: Tanker-Regular, sans-serif;
    font-style: normal;
}

html {
    overflow-y: scroll;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Author-Regular;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
}
h1 {
    font-family: Author-Semibold;
    font-weight: 300;
    margin-bottom: 0.2em;
    line-height: 1.1;   
}
h2 {
    font-family: Author-Regular;
    margin-top: 1.5rem;
    margin-bottom: 0.2em;
    line-height: 1.2;   
}
h3 {
    font-family: Author-Semibold;
    text-align: left;
    margin-bottom: 0.2em;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.1rem;
}
ul, ol {
    margin-top: 0;
}
a {
    color: black;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: red;
    font-style: italic;
}

#text-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 8vh;
    padding-bottom: 3vh;
}
#text-container p img {
    width: 100%;
    margin: auto;
    display: block;
}
#text-container p {
    text-align: justify;
}
strong {
    font-family: Author-Semibold;
}
em {
    font-family: Author-Italic;
}
i {
    font-style: italic;
}
b {
    font-weight: bold;
    font-size: 96%;
}

/* All inline and block code */
code {
    font-family: monospace;
    font-size: 78%;
}

/* Code Blocks */
code.hljs.language-cpp {
    font-size: 70%;
    padding: 80px;
    border-radius: 5px;
    padding: 15px 20px;
}
code.hljs.language-python {
    font-size: 70%;
    padding: 80px;
    border-radius: 5px;
    padding: 15px 20px;
}

/* Tables */
table {
    width: 100%;
    margin: auto;
    background: #EAEEF3;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    font-family: monospace;
    font-size: 80%;
}
table th {
    font-family: Author-Regular;
    font-size: 100%;
    padding: 8px 20px 5px 20px;
}
table td {
    font-size: 80%;
    padding: 8px 20px 8px 20px;
}
table td code {
    font-size: 100%;
}
table thead {
    border-bottom: 2px dashed #aaa;
}
table tr:first-child td {
    padding-top: 14px;
}
table tr:last-child td {
    padding-bottom: 14px;
}

#commento {
    margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 120%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 130%;
  }
}
