<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="jrdnfrd.css">
    <title>{{ title }}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="syntax.css">
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="nav" style="background: #2B313C; padding: 0px; padding-bottom: 10px; margin: 0px; height: 50px; position: fixed; top: 0; width: 100%; z-index: 1000;">
      <div class="nav-content" style="display: flex; justify-content: space-between; align-items: center; padding-top: 10px; margin: 0px auto;">
        <a href="index.html"
          style="flex: 20 1 auto; text-align: left;">
          <span class="nav-name" style="font: 1.8em CrimsonPro, Georgia, serif; font-weight: light;">jordan ford.</span>
        </a>
      </div>
    </div>

    <div class="post-content" style="padding-top: 80px; padding-bottom: 70px;">
      <div class="breadcrumb" style="text-align: left; padding-top: 0px; padding-bottom: 20px;">
        <a href="index.html"> home </a><span>&rarr; <a href="#">{{ title }}</a></span>
      </div>

      <div class="title">{{ title }}</div>
      <div style="padding-top: 10px;"></div>
      <div class="subtitle">{{ subtitle }}</div>
      <div style="padding-top: 10px;"/>

      {{ body }}

      <div class="breadcrumb" style="text-align: left; padding-top: 20px; padding-bottom: 20px;">
        <a href="index.html">&larr; home </a>
      </div>
    </div>
  </body>
</html>

<!--
<!DOCTYPE html>
<html>
  <head>
    <title>{{ post_title }}</title>

    <link rel="stylesheet" href="css/jrdnfrd.css">
  </head>

  <body>
</html>
