<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="jrdnfrd.css">
    <title>{{ title }}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">

    <link rel="stylesheet" href="syntax.css">

    <!-- Katex -->
    <link rel="stylesheet" href="katex/katex.min.css">
    <script src="katex/katex.min.js"></script>
    <script src="katex/contrib/auto-render.min.js"></script>

  </head>
  <body>
    <div class="background-pattern"></div>
    <!-- Navigation Bar -->
    <div class="nav">
      <div class="nav-content">
        <a class="nav-name" href="index.html">jordan ford.</a>
        <a class="nav-link" href="bio.html">bio.</a>
        <a class="nav-link" href="bio.html#contact">contact.</a>
      </div>
    </div> <!-- Navigation Bar -->

    <div class="post-content">
      <div class="breadcrumb">
        <a href="index.html"> Home &rarr;</a><a href="#">&nbsp;{{ title }}</a>
      </div>

      <div class="title">{{ title }}</div>
      <div style="padding-top: 10px;"></div>
      {% if subtitle is not none %}<div class="subtitle">{{ subtitle }}</div>{% endif %}
      <div style="padding-top: 10px;"></div>

      {{ body }}

      <div class="breadcrumb">
        <a href="index.html">&larr; Home </a>
      </div>
    </div>

    <footer>
      <div>Handcrafted by Jordan Ford &mdash; <span style="position: relative; top: 1px;">&copy;</span> 2022</div>
    </footer>

    <script>
      renderMathInElement(
          document.body,
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
    </script>
  </body>
</html>
